@page
@model LMS.Pages.Registrations.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div>
    <form class="col-md-9">
        <p>
            Title: <input type="text" asp-for="SearchString" />
            <select asp-for="Department" asp-items="Model.Departments">
                <option value="">All</option>
            </select>
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Time)
            </th>
            <th>
                Register
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Course)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days) @Html.DisplayFor(modelItem => item.Time)
                </td>
                @foreach (var reg in Model.RegList)
                {
                    if (reg.Course == item.ID)
                    {
                        Model.registerButton = ("Unregister");
                        Model.buttonStyle = "btn-danger";
                        break;
                    }
                    else
                    {
                        Model.registerButton = ("Register");
                        Model.buttonStyle = "btn-primary";
                    }
                }
                <td>
                    <form asp-page-handler="view" method="post">
                        <button class="btn @Model.buttonStyle">@Model.registerButton</button>
                        <input type="hidden" name="course" value="@item.ID" />
                    </form>
                </td>

            </tr>

        }
    </tbody>
</table>

