@page
@model LMS.Pages.Courses.CourseInfo.Assignments.IndexModel

@{
    var pageTitle = Model.Department.Code + " " + Model.Course.Number;
    ViewData["Title"] = pageTitle;
}

<h1>@pageTitle - @Model.Course.Name</h1>

<p>
    <h2>Assignments</h2>
</p>
@if (Model.BoolInstructor)
{
    <a asp-page="Create">Add Assignment</a>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Due)
            </th>
            <th>
                Submission Type
            </th>
            @if (!Model.BoolInstructor)
            {
                <th>
                    Grade
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignment)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Due)*@
                @item.Due.ToString("dddd, MM/dd h:mm tt")
            </td>
            <td>
                @if (!Model.BoolInstructor)
                {
                    <form asp-page-handler="view" method="post">
                        <input type="hidden" name="assignment" value="@item.ID" />
                        <button type="submit" class="btn btn-link text-left text-secondary:hover">
                            <span>
                                <i class="SubmissionTypeLink">
                                    @Html.DisplayFor(modelItem => item.SubmissionType)
                                </i>
                            </span>
                        </button>
                    </form>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.SubmissionType)
                }
            </td>
            @if (!Model.BoolInstructor)
            {
                <td>
                    @foreach (var submission in Model.Submissions)
                    {
                        if (item.ID == submission.AssignmentID)
                        {
                            var currGrade = submission.Grade + '/' + item.Points;
                            @Html.DisplayFor(modelItem => currGrade)
                            break;
                        }
                    }
                </td>
            }
            <td>
                @if (Model.BoolInstructor)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <a>|</a>
                    <a asp-page="/Submission/Index" asp-route-id="@item.ID">Grade</a>
                }
                @*|<a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>

<div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"> </div>

<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript">google.charts.load('current', {packages: ['corechart']}); </script>

<script type="text/javascript">

    function drawChart() {
        // Define the chart to be drawn.
        var data = google.visualization.arrayToDataTable([
            ['Percentile', '', { role: 'style'}, { role: 'annotation' }],
            ['<70',  @Model.one, '#FF0000', '@Html.Raw(Model.ann1)'],
            ['70-75',  @Model.two, '#CC0033', '@Html.Raw(Model.ann2)'],
            ['75-80',  @Model.three, '#990066', '@Html.Raw(Model.ann3)'],
            ['80-85',  @Model.four, '#660099', '@Html.Raw(Model.ann4)'],
            ['85-90',  @Model.five, '#3300CC', '@Html.Raw(Model.ann5)'],
            ['90-95',  @Model.six, '#0000FF', '@Html.Raw(Model.ann6)'],
            ['95-100',  @Model.seven, '#000080', '@Html.Raw(Model.ann7)']
        ]);

        var options = {
        title: 'Average: @Model.average',
        legend: {position: 'none'}
        }; 

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('container'));
        chart.draw(data, options);
     }
    google.charts.setOnLoadCallback(drawChart);
</script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

@section Scripts {
    @*This j-query script updates the above label "custom-file-label" to read the file name you selected.*@
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
