@page
@model LMS.Pages.Courses.CourseInfo.Assignments.IndexModel

@{
    var pageTitle = Model.Department.Code + " " + Model.Course.Number;
    ViewData["Title"] = pageTitle;
}

<h1>@pageTitle - @Model.Course.Name</h1>

@if (!Model.BoolInstructor)
            {
                <h2>Grade: @Model.Registration.Grade</h2>
            }

<p>
    <h2>Assignments</h2>
</p>
@if (Model.BoolInstructor)
{
    <a asp-page="Create">Add Assignment</a>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Due)
            </th>
            <th>
                Submission Type
            </th>
            @if (!Model.BoolInstructor)
            {
                <th>
                    Grade
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignment)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Due)*@
                @item.Due.ToString("dddd, MM/dd h:mm tt")
            </td>
            <td>
                @if (!Model.BoolInstructor)
                {
                    <form asp-page-handler="view" method="post">
                        <input type="hidden" name="assignment" value="@item.ID" />
                        <button type="submit" class="btn btn-link text-left text-secondary:hover">
                            <span>
                                <i class="SubmissionTypeLink">
                                    @Html.DisplayFor(modelItem => item.SubmissionType)
                                </i>
                            </span>
                        </button>
                    </form>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.SubmissionType)
                }
            </td>
            @if (!Model.BoolInstructor)
            {
                <td>
                    @foreach (var submission in Model.Submissions)
                    {
                        if (item.ID == submission.AssignmentID)
                        {
                            var currGrade = submission.Grade + '/' + item.Points;
                            @Html.DisplayFor(modelItem => currGrade)
                            break;
                        }
                    }
                </td>
            }
            <td>
                @if (Model.BoolInstructor)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <a>|</a>
                    <a asp-page="/Submission/Index" asp-route-id="@item.ID">Grade</a>
                }
                @*|<a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
