@page
@model LMS.Pages.Tuition.IndexModel

@{ 
    ViewData["Title"] = "Index";
}

<form method="POST" id = "Payment">
  <article>
    <div>
      <label><h1>Amount Due: $@Model.cost<h1></label>
    </div>
  </article> 
      <div>
        <label asp-for="@Model.CardNumber" class="cardinfo-label" for="card-number">Card Number:</label>
        <input asp-for="@Model.CardNumber" class="cardInput" id="card-number" placeholder="1111-2222-3333-4444">
      </div>

      <div>
        <label asp-for="@Model.Month" class="cardinfo-label">Date:</label>
        <input asp-for="@Model.Month" class="cardInput" id="Month" placeholder="MM"/>
        <input asp-for="@Model.Year" class="cardInput" id="Year" placeholder="YY"/>
        <label asp-for="@Model.CVV" class="cardinfo-label" id ="cvv-label">CVV:</label>
        <input asp-for="@Model.CVV" class="cardInput" id="cvv" placeholder="595"/>
      </div>

      <div>
        <label asp-for="@Model.Amount" class="cardinfo-label">Amount:</label>
        <input asp-for="@Model.Amount" class="cardInput" id="Amount"/>
      </div>

      <div>
        <input type="submit" value="Send Payment" class="btn-payment" />
      </div>
</form>

<div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"> </div>

@section Scripts {  
    <script>
      $('input[id=card-number]').keypress(function(){
      var rawNumbers = $(this).val().replace(/-/g,'');
      var cardLength = rawNumbers.length;
      if(cardLength !==0 && cardLength <=12 && cardLength % 4 == 0){
        $(this).val($(this).val()+'-');
      }
      });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript">google.charts.load('current', {packages: ['corechart']}); </script>

<script type="text/javascript">

    function drawChart() {
        // Define the chart to be drawn.
        var data = google.visualization.arrayToDataTable([
            ['Percentile', 'Temp'],
            ['<70',  @Model.one],
            ['70-75',  @Model.two],
            ['75-80',  @Model.three],
            ['80-85',  @Model.four],
            ['85-90',  @Model.five],
            ['90-95',  @Model.six],
            ['95-100',  @Model.seven]
        ]);

        var options = {title: 'Grade Scale'}; 

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('container'));
        chart.draw(data, options);
     }
    google.charts.setOnLoadCallback(drawChart);
</script>