@page
@model LMS.Pages.Tuition.IndexModel

@{ 
    ViewData["Title"] = "Index";
    int stripeamount = @Model.Amount * 100;
}

<form method="POST" id = "Payment">
  <article>
    <div>
      <label><h1>Amount Due: $@Model.cost<h1></label>
    </div>
  </article> 
      <div class="cardinfo-card-number">
      <label class="cardinfo-label" for="card-number">Card Number</label>
      <div class="input" id="card-number"></div>

      <div class="cardinfo-wrapper">
        <div class="cardinfo-exp-date">
        <label class="cardinfo-label" for="expiration-date">Valid Thru</label>
        <div asp-for="@Model.Expiration" class="input" id="expiration-date"></div>
      </div>

      <div class="cvv">
        <label asp-for="@Model.CVV" class="cardinfo-label" for="cvv">CVV</label>
        <div asp-for="@Model.CVV" class="input" id="cvv"></div>
      </div>
      
      <div>
        <label asp-for="@Model.Amount" class="control-label">Payment Amount</label>
        <input asp-for="@Model.Amount" class="input"/>
      </div>

      <div>
        <input type="submit" value="Save" class="btn btn-primary" />
      </div>
</form>
